.customer-section {
    display: flex;
    margin-top: 60px;

    h3 {
        padding: 13px 0px 13px 0px;
        text-align: center;
        border-bottom: 1px solid rgb(236, 236, 236);
        background-color: rgb(240, 248, 255);
    }

    .col-40 {
        width: 40%;
        margin-right: 20px;
        box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);

        li {
            padding: 4%;
            text-align: center;
        }
    }

    .col-60 {
        width: 60%;
        margin-left: 20px;
        box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);

        #text,
        #website {
            border: 1px solid rgb(218, 216, 216);
        }

        legend {
            font-size: 22px;
            font-weight: bold;
            padding-top: 20px;
            margin-left: 20px;
        }

        fieldset:nth-child(1) {
            padding-top: 40px;
        }

        input {
            padding: 8px 0px 8px 0px;
        }

        input:nth-child(2) {
            margin-top: 10px;
            width: 99.3%;
        }

        p {
            padding: 12px 20px 12px 20px;
        }

        .button {
            width: 30% !important;
            margin: 20px;
        }
    }
}
