.new-subscription-section {
    display: flex;
    margin-top: 50px;
    align-items: flex-end;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);

    h2 {
        margin: 60px 20px 60px 10px;
    }

    img {
        width: 50px;
        height: auto;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    &--button-center {
        align-self: center;
    }

    &--button-center button {
        box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    }

    &--button-center button:hover {
        background-color: rgb(238, 245, 252);
    }
}
