#connexionForm {
    padding-top: 170px;
    text-align: center;

    h2 {
        padding-top: 20px;
    }
    form form,
    .registerStyle .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input {
        margin: 20px 0px;
        padding: 10px 0px;
        width: 40%;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    }

    form input:nth-last-child(1) {
        background-color: $purple;
        color: $white;
        align-self: flex-end;
        font-size: $base-size;
    }

    form input:nth-last-child(1):hover {
        background-color: $purple-hover;
    }

    .registerStyle input:nth-last-child(1) {
        align-self: center;
        margin-bottom: 120px;
        width: 40%;
    }
}
