/* html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    font-size: 18px;
    color: #3b4757;
}
header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    position: absolute;
}

li {
    padding: 30px;
    list-style-type: none;
    float: left;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
    color: #fdc54b;
}

img {
    width: 100px;
    height: auto;
}

button {
    margin: 20px 30px 20px 0px;
    color: #3b4757;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 25px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

button:hover {
    color: #fff;
    background-color: #fdc54b;
}

.logout-button {
    margin: 24px 30px 24px 0px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 25px;
    box-shadow: none;
}

.bloc-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.right {
    text-align: end;
}

.flex-grid {
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerStyle .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    font-family: "Montserrat", sans-serif;
    margin: 20px 0px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.form input:nth-last-child(1) {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(146, 136, 218);
    color: #fff;
    align-self: flex-end;
}

.form input:nth-last-child(1):hover {
    font-family: "Montserrat", sans-serif;

    background-color: rgb(122, 115, 180);
}

input:focus {
    background-color: #9aa2d3;
}

#connexionForm {
    padding-top: 170px;
    text-align: center;
}

.registerStyle input:nth-last-child(1) {
    align-self: center;
    margin-bottom: 120px;
    width: 40%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
} */
