@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,100&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 75%;
}

html {
	height: 100%;
}

body {
	font-family: "Texturina", serif;
	margin: 0px;
	font-size: 18px;
}

h1 {
	text-decoration: underline;
	font-weight: bold;
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-weight: bold;
	font-size: 24px;
}

img {
	width: 100px;
	height: auto;
}

li {
	width: 92%;
	list-style-type: none;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

a {
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	border-radius: 4px;
}

a a:hover {
	text-decoration: none;
	color: #fdc54b;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 2px 6px;
	text-decoration: underline;
	color: #5555d0;
}

input:focus {
	background-color: #d2e2f5;
}

.bloc-page {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex-grid {
	display: flex;
	justify-content: center;
}

.logout-button {
	margin: 24px 30px 24px 0px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 25px;
	box-shadow: none;
}

.right {
	text-align: end;
}

button:hover {
	color: white;
	background-color: #fdc54b;
}

.new-subscription-section {
	display: flex;
	margin-top: 50px;
	align-items: flex-end;
	box-shadow: 0px 0px 15px rgba(156, 163, 211, 0.5);
}

.new-subscription-section h2 {
	margin: 60px 20px 60px 10px;
}

.new-subscription-section img {
	width: 50px;
	height: auto;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.new-subscription-section--button-center {
	align-self: center;
}

.new-subscription-section--button-center button {
	box-shadow: 0px 0px 15px rgba(156, 163, 211, 0.5);
}

.new-subscription-section--button-center button:hover {
	background-color: #eef5fc;
}

.customer-section {
	display: flex;
	margin-top: 60px;
}

.customer-section h3 {
	padding: 13px 0px 13px 0px;
	text-align: center;
	border-bottom: 1px solid #ececec;
	background-color: aliceblue;
}

.customer-section .col-40 {
	width: 40%;
	margin-right: 20px;
	box-shadow: 0px 0px 15px rgba(156, 163, 211, 0.5);
}

.customer-section .col-40 li {
	padding: 4%;
	text-align: center;
}

.customer-section .col-60 {
	width: 60%;
	margin-left: 20px;
	box-shadow: 0px 0px 15px rgba(156, 163, 211, 0.5);
}

.customer-section .col-60 #text,
.customer-section .col-60 #website {
	border: 1px solid #dad8d8;
}

.customer-section .col-60 legend {
	font-size: 22px;
	font-weight: bold;
	padding-top: 20px;
	margin-left: 20px;
}

.customer-section .col-60 fieldset:nth-child(1) {
	padding-top: 40px;
}

.customer-section .col-60 input {
	padding: 8px 0px 8px 0px;
}

.customer-section .col-60 input:nth-child(2) {
	margin-top: 10px;
	width: 99.3%;
}

.customer-section .col-60 p {
	padding: 12px 20px 12px 20px;
}

.customer-section .col-60 .button {
	width: 30% !important;
	margin: 20px;
}

#connexionForm {
	padding-top: 170px;
	text-align: center;
}

#connexionForm h2 {
	padding-top: 20px;
}

#connexionForm form form,
#connexionForm .registerStyle .form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#connexionForm form input {
	margin: 20px 0px;
	padding: 10px 0px;
	width: 40%;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(156, 163, 211, 0.5);
}

#connexionForm form input:nth-last-child(1) {
	background-color: #9288da;
	color: white;
	align-self: flex-end;
	font-size: 18px;
}

#connexionForm form input:nth-last-child(1):hover {
	background-color: #7a73b4;
}

#connexionForm .registerStyle input:nth-last-child(1) {
	align-self: center;
	margin-bottom: 120px;
	width: 40%;
}

/*# sourceMappingURL=style.css.map */