html {
    height: 100%;
}

body {
    font-family: $texturina;
    margin: 0px;
    font-size: $base-size;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-weight: bold;
    font-size: $h3;
}

img {
    width: 100px;
    height: auto;
}

li {
    width: 92%;
    list-style-type: none;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

a {
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;

    a:hover {
        text-decoration: none;
        color: $yellow;
    }
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 6px;
    // box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    text-decoration: underline;
    color: #5555d0;
}

input:focus {
    background-color: $input-focus;
}
