.bloc-page {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    justify-content: center;
}

.logout-button {
    margin: 24px 30px 24px 0px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 5px;
    font-size: $base-size;
    font-weight: bold;
    padding: 6px 25px;
    box-shadow: none;
}

.right {
    text-align: end;
}
