// font
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,100&display=swap");
$texturina: "Texturina", serif;

// Size
$h1: 32px;
$h2: 24px;
$h3: 24px;
$base-size: 18px;

// Colors
$yellow: #fdc54b;
$purple: rgb(146, 136, 218);
$purple-hover: rgb(122, 115, 180);
$input-focus: #d2e2f5;
$white: white;
